<template name="shipmentForm">
	<form name="shipmentForm" class="form-horizontal">
		<input type="hidden" name="owningUser" value="{{ownedBy}}"> <!-- is this a security problem? -->
		<input type="hidden" name="recordId" value="{{_id}}" >
	<div class="form-group">
		<label class="" for="rname">Recipient Name: </label>
		<input id="rname" name="recipientName" type="text" value="{{recipientName}}">
	</div>
	<div class="form-group">
		<label class="required " for="recipientPhone">Recipient Phone Number: </label>
		<input name="recipientPhone" type="text" value="{{recipientPhone}}" id="recipientPhone">
	</div>
	<div class="checkbox">
    <label>
      <input type="checkbox" id="recipientMustSign"> Recipient must sign
    </label>
  	</div>

	<div class="form-group">
		<h4>Pickup From</h4>
		<div class="checkbox">
	    <label>
	      <input type="checkbox" id="shipFromShipper"> Use Shipper Info
	    </label>
	  	</div>
		<label for="puaddr1" class="required ">Address</label>
		<input id="puaddr1" name="pickupAddress" type="text" valuen="{{pickupAddress}}">
	</div>
	<div class="form-group">
		<label class="required " for="pcity">City</label><input id="pcity" name="pickupCity" type="text" value="{{pickupCity}}">
	</div>
	<div class="form-group">
		<label class="required " for="pstate">State</label><input if="pstate" name="pickupState" type="text" value="{{pickupState}}">
	</div>
	<div class="form-group">
		<label class="required " for="pzip">Zip Code</label><input id="pzip" name="pickupZip" type="text" value="{{pickupZip}}">
	</div>
	<div class="form-group">
		<h4>Ship To</h4>
		<div class="checkbox">
	    <label>
	      <input type="checkbox" id="shipToShipper"> Use Shipper Info
	    </label>
	  	</div>
		<label for="deladdr1" class="required ">Address</label>
		<input id="deladdr1" name="deliveryAddress" type="text" valuen="{{deliveryAddress}}">
	</div>
	<div class="form-group">
		<label class="required " for="dcity">City</label><input id="dcity" name="deliveryCity" type="text" value="{{deliveryCity}}">
	</div>
	<div class="form-group">
		<label class="required " for="dstate">State</label><input id="dstate" name="deliveryState" type="text" value="{{deliveryState}}">
	</div>
	<div class="form-group">
		<label class="required " for="dzip">Zip Code</label><input id="dzip" name="deliveryZip" type="text" value="{{deliveryZip}}">
	</div>
	<!-- other fields
	description
	weight
	dimensions (h x w x d)
	date / time desired for pickup
	date / time desired for delivery
-->
<div class="form-group">
	<div class="controls">
	<input type="submit" name="Update" class="btn">
	</div>
</div>
 	</form>
	<a id="cancelEdit" href="#">cancel</a>

</template>
