<template name="shipperInfo">
	{{#if hasRegisteredShipper}}
	{{#each shippers}}
	{{#if isEditingShipper}}
	{{> shipperForm}}
	{{else}}
	<div class="dl">
		<div class="row"><span class="dt"></span><span class="dd">{{firstName}} {{lastName}}</span></div>
		<div class="row">{{phone}}</div>
		<div class="row">{{address}}</div>
		<div class="row">{{addressExt}}</div>
		<div class="row">{{city}} {{state}} {{zip}}</div>
	</div>
	<a id="editShipper" href="#">edit</a>
	{{/if}}
	{{/each}}
	{{else}}
	{{> shipperForm}}
	{{/if}}
</template>
